.app {
    height: 100%;
    overflow-y: auto;
}

.header {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    padding: 1rem;
}
.content {
    position: relative;
    height: 100%;
    width: 100%;
}